.clamp {
  position: relative;
  overflow: hidden;
}

.ellipsis {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.2em;
  width: 2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
